@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInBottomToTop {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInBottomToTop {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

.imgAppear {
  -webkit-animation: fadeInBottomToTop 1.666s ease-in;
          animation: fadeInBottomToTop 1.666s ease-in;
  will-change: transform;
}

.imgDisappear {
  -webkit-animation: fadeOut 1.666s ease-in;
          animation: fadeOut 1.666s ease-in;
  will-change: transform;
}

.imgInvisible {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, left bottom, from(#373662), to(#366261));
  background: linear-gradient(to bottom, #373662, #366261);
}

#underConstruction {
  background: yellow;
  color: black;
  padding: 8px;
  border: 2px red solid;
  text-align: center;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 128px max-content max-content 1fr;
      grid-template-columns: 128px -webkit-max-content -webkit-max-content 1fr;
      grid-template-columns: 128px max-content max-content 1fr;
  background: -webkit-gradient(linear, left top, right top, from(white), to(#373662));
  background: linear-gradient(to right, white, #373662);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: ellipse(150% 100% at 25% 0%);
          clip-path: ellipse(150% 100% at 25% 0%);
}

header img {
  width: 128px;
  height: 128px;
  padding: 14px;
  -webkit-animation: spin 66.6s linear infinite;
          animation: spin 66.6s linear infinite;
}

header h1 {
  font-size: 4rem;
}

header h1.foto {
  color: #888888;
  font-weight: 300;
}

header h1.sim {
  color: #222222;
  font-weight: 500;
}

header nav {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: 14px;
  margin-right: 14px;
}

header nav a {
  margin-left: 0.7em;
  font-size: 1.4em;
  font-weight: 300;
  color: #aaaaaa;
}

a {
  text-decoration: none;
  color: #888888;
  -webkit-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}

a.current, a:hover {
  color: white;
}

a:active {
  text-shadow: 0px 0px 4px white;
}

figure {
  position: relative;
  top: -17px;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 810px 1fr;
      grid-template-columns: 1fr 810px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

figure img {
  z-index: -1;
}

figure img:nth-child(1) {
  -ms-grid-column-align: end;
      justify-self: end;
  z-index: -2;
}

figure img:nth-child(2) {
  -ms-grid-column-align: center;
      justify-self: center;
  z-index: -1;
}

figure img:nth-child(3) {
  -ms-grid-column-align: start;
      justify-self: start;
  z-index: -2;
}

.showcaseBase {
  position: relative;
  top: -88px;
  height: 128px;
  margin-bottom: -88px;
  background-color: #f4f4f4;
  -webkit-clip-path: ellipse(150% 100% at 75% 100%);
          clip-path: ellipse(150% 100% at 75% 100%);
}

.showcaseBase h1 {
  padding-top: 1em;
  text-align: center;
  color: #888888;
}

main {
  position: relative;
  background-color: #f4f4f4;
  padding: 0em 1em 5em 1em;
}

main p {
  color: #888888;
  padding: 0em 4em;
  line-height: 1.7em;
  text-align: justify;
}

main p:nth-child(even) {
  color: darkblue;
  padding: 1em 8em;
  text-align: center;
}

.information {
  background: -webkit-gradient(linear, left top, right top, from(black), to(#366261));
  background: linear-gradient(to right, black, #366261);
  color: #888888;
  -webkit-clip-path: ellipse(150% 100% at 25% 0%);
          clip-path: ellipse(150% 100% at 25% 0%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 40px;
      grid-template-rows: 1fr 40px;
  grid-column-gap: 2em;
  list-style-type: none;
  padding: 2em;
}

.information li {
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.02em;
  line-height: 1.4em;
  list-style-type: none;
}

.information li h1 {
  padding-bottom: 1em;
  color: white;
  font-weight: 300;
  font-size: 2em;
}

.information li.social {
  -ms-grid-column-align: auto;
      justify-self: auto;
}

.information li.social ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (64px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 64px);
  -ms-grid-rows: (64px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 64px);
  grid-gap: 16px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.information li.social ul li a:hover img {
  -webkit-animation: pop 0.4s ease-out 1;
          animation: pop 0.4s ease-out 1;
}

footer {
  height: 48px;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */